{% extends 'core/layout.html' %}

{% load static %}

{% block CSS %}
  <link rel="stylesheet" href="{% static 'core/sign_in.css' %}">
{% endblock %}

{% block JS %}
<script src="{% static 'core/sign_in.js' %}" defer></script>
{% endblock %}

{% block body %}
   <div>
        <h1>Welcome to GIKI-Connect</h1>
   </div>
   <!-- <div>
        <img src="{% static 'core/images/bg.jpeg' %}" alt="GIKI Connect Logo">
   </div> -->
    
   <h2>Sign In</h2>
   <form action="{% url 'core:signin' %}" method="post">
       {% csrf_token %}
       
       <!-- Display any form errors -->
       {% if errors %}
       <div class="form-errors">
           {% for key, error in errors.items %}
               <p class="error-message">{{ error }}</p>
           {% endfor %}
       </div>
       {% endif %}
       
       <div>
           <label for="email"><strong>Email</strong></label>
           <input type="email" id="email" name="email" placeholder="Enter your email" autofocus required>
       </div>
       <div>
           <label for="password"><strong>Password</strong></label>
           <input type="password" id="password" name="password" placeholder="Password" required>
       </div>
       <div>
           <input type="submit" value="Sign In">
       </div>
   </form>
   
   <div class="signup-link">
       <a href="{% url 'core:signup' %}">Don't have an account? Sign Up</a>
   </div>
{% endblock %}